<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0" />
            <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </DbProviderFactories>
    </system.data>
    <connectionStrings>
        <add connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=(local);Integrated Security=True" name="WebSite11" providerName="System.Data.SqlClient" />
        <add connectionString="server=(local);database=management;uid=sami;Pwd=korento12" name="management" providerName="MySql.Data.MySqlClient" />
        <add connectionString="server=85.76.109.104;uid=(local)_(SUoe6y;database=(local)_(SQL_server_85.76.109.104-(local)_(sami/toshiba;Pwd=_?ot#e7)GB@m" name="(local)_(SQL_server_85.76.109.104-(local)_(sami/toshiba" providerName="MySql.Data.MySqlClient" />
        <add connectionString="Server=(local);database=security;uid=sa;Pwd=korento12" name="security" providerName="MySql.Data.MySqlClient" />
        <add connectionString="Server=(localhost);database=&quot;sql server (agent toshibas disabled)&quot;;uid=sami" name="sql server (agent toshibas disabled)" providerName="MySql.Data.MySqlClient" />
        <add connectionString="server=(local);uid=replicatioUnq9m;database=replication" name="replication" providerName="MySql.Data.MySqlClient" />
        <add connectionString="server=localhost;uid=bootU2v5w;pwd=./9onzk^O%4w;Database=boot" name="boot" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="default.aspx" />
                <add value="iisstart.htm" />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
